# File {{ haproxy_cfg_file }} is managed by ansible
# you shouldn't edit it manually.
{% for section in haproxy_params %}
{{ section.name | regex_replace("^[0-9]+_") }}
{% for pname,pvalue in section.options.items() %}
  {{ pname | regex_replace("_"," ") }} {{ pvalue }}
{% endfor %}

{% endfor %}
# Settings for postgres proxy
{% for pgcl in haproxy_pg_clusters %}
listen postgres_{{ pgcl.connect_type }}
  bind *:{{ pgcl.bind_port }}
  option {{ pgcl.check_option }}
  http-check expect status 200
  default-server inter 3s fastinter 1s fall 2 rise 2 on-marked-down shutdown-sessions
{% for pgh in groups[postgres_hosts_group] %}
  server {{ hostvars[pgh]['common_short_hostname'] }} {{ hostvars[pgh]['common_full_hostname'] }}:{{ postgres_client_port }} maxconn {{ pgcl.pg_max_conn }} check port {{ pgcl.check_pg_port }}
{% endfor %}

{% endfor %}

